*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    font-family: "Cardo", serif;
    -webkit-text-stroke-width: 0.7px;
}

p{
    font-family: "Lato", sans-serif;
}

img{
    width: 100%;
}

/* ::-webkit-scrollbar {
    display: none;
  } */

.main{
    width: 100%;
    padding: 0 10%;
    background-color: #eeeeee;
    color: #232323;
}

.firstDiv{
    height: 110vh;
    padding-top: 5%;

}


.firstLeftGraphics{
    width: 44.9%;
    height: 94%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 39%;
}


.navDiv{
    position: relative;
    /* display: inline; */
    width: 100%;
    height: 39px;
}

.navList{
    position: absolute;
    width: 43%;
    top: 9px;
}

.navList>p{
    display: inline-block;
    margin-right: 15%;
    /* font-size: 17px; */
    font-weight: 500;
    color: #515155;
    transition: all 0.2s;
}

.navList>p:hover{

    cursor: pointer;
    transform: scale(1.1);

}

.contactButton{
    position: absolute;
    right: 0;
    /* display: inline; */
    width: fit-content;
    padding: 8px 40px;
    border: 2px solid #232323;
    border-radius: 5px;
    /* font-weight: bolder; */
    font-family: 'Lato';
    font-weight: 1000;
    font-size: .93rem;
}

.contactButton:hover{
    background-color: #232323;
    color: white;
    cursor: pointer;
}

.introDiv{
    width: 100%;
    /* height: 62%; */
    margin-top:8%;
    position: relative;
    z-index: 1;
}

.introTxtDiv{
    float: left;
    width: 39%;
}

.introTxtDiv>h1{
    font-family: "Cardo", serif;
    font-size: 4.3rem;
    line-height: 68px;
    -webkit-text-stroke: 1.2px;
    /* letter-spacing: 1px; */
    word-spacing: 0px;
}

.introTxtDiv>p{
    padding: 4% 0;
    width: 90%;
    font-size: 0.84rem;
    font-weight: 400;
    text-align: justify;
}

.reserveButton{
    padding: 11px 54px;
    width: fit-content;
    font-family: 'Lato';
    background-color: #232323;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 15px;
}

.reserveButton:hover{
    cursor: pointer;
    background-color: #303030;
}

.reserveButton:active{
    background-color: #232323;
}

.introImgDiv
{
    float: right;
    width: 53%;
}

.topRightGraphics{
    width: 8%;
    position: absolute;
    bottom: -130px;
    right: 0;
}


.secondDiv{
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #232323;
    color: #e9e7e7;
    padding: 37px 0;
    left: 0;
}

.secondDivLeft{
    top: 26px;
    left: -3%;
    width: 31%;
    position: absolute;
}

.secondDiv>h1{
    line-height: 40px;
    width: 40%;
    margin: auto;
    font-size: 2.4rem;
}

.secondDiv>p{
    font-size: 12px;
    margin: 21px auto;
    width: 29%;
    word-spacing: 1px;

}

.travelLogsButt{
    border: 2px solid #e9e7e7;
    width: fit-content;
    margin: auto;
    /* margin: 0 21%; */
    padding: 9px 39px;
    font-weight: 1000;
    font-family: lato;
    font-size: 13px;
    border-radius: 5px;
    margin-top: 28px;
}

.travelLogsButt:hover{
    background-color: #e9e7e7;
    cursor: pointer;
    color: #232323;
}


.secondDivRight{
    position: absolute;
    width: 35%;
    right: 0;
    bottom: 19px;
}

.thirdDiv{
    width: 100%;
    margin-top: 284px;
    position: relative;
    /* z-index: 1; */
    background-color: #eeeeee;
    padding: 131px 0;
}

.thirdLeftGraphics{
    position: absolute;
    width: 3.5%;
    left: -12.5%;
    top: 0;
}

.cardDiv{
    display: inline-block;
    width: 305px;
    margin-right: 4%;
    transition: all 0.2s;
}

.cardDiv:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.cardImgDiv{
    width: 100%;

}

.cardBar{
    height: 2.5px;
    background-color: #232323;
    border-radius: 11px;
    width: 44px;
    margin: 22px 0;
    margin-bottom: 19px;
}

.cardTxtDiv{
    width: 100%;
}

.cardTxtDiv>h1{
    width: 79%;
    font-weight: bolder;
    line-height: 31px;
}

.cardTxtDiv>p{
    font-size: 11px;
    word-spacing: 2px;
    text-align: justify;
    width: 100%;
    margin-top: 16px;
}

.thirdRightGraphics{
    position: absolute;
    width: 6%;
    bottom: -37px;
    right: -12.4%;
}


.fourthDiv{
    width: 100%;
    padding: 101px 0;
    padding-top: 180px;
    position: relative;
}

.fourthDivRightGraph{
    position: absolute;
    width: 21%;
    top: 0;
    right: -12.5%;
}

.planeDiv{
    width: 5%;
    margin: auto;
}

.fourthDiv>h1{
    font-size: 70px;
    font-weight: 1000;
    width: 64%;
    margin: auto;
    text-align: center;
    line-height: 68px;
    margin: 30px auto;
}

.fourthDiv>h1>span{
    text-decoration: underline;
    text-underline-offset: 15px;
    font-style: italic;
    text-decoration-thickness: 4px;
}

.fourthDiv>p{
    font-size: 15px;
    font-weight: 1000;
    width: fit-content;
    margin: auto;
}


.fourthDivGraphics{
    width: 35%;
}

.fifthDiv{
    width: 100%;
    height: 100vh;
    padding: 26px 0;
}

.fifthDivLeftImg{
    width: 37%;
    display: inline-block;
    position: relative;
}

.tape{
    position: absolute;
    width: 12%;
    top: 34%;
    left: -23px;
}

.fifthDivRight{
    display: inline-block;
    width: 59%;
    margin-left: 3%;
    vertical-align: top;
}

.fifthDivRightImg{
    width: 48%;
}

.fifthDivText{
    margin-top: 54px;
}

.fifthDivText>h1{
    display: inline-block;
    width: 30%;
    font-size: 23px;
    vertical-align: top;
    font-weight: 700;
    text-decoration: underline;
    /* -webkit-text-stroke: medium; */
    /* -webkit-text-stroke-color: red; */
    text-decoration-line: 2px;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.fifthDivSideDesc{
    float: right;
    width: 60%;
    vertical-align: top;
    font-size: 14px;
}
.fifthDivSideDesc>p{
    margin-bottom: 20px;
    text-align: justify;
}

.arrowDiv{
    width: fit-content;
    margin-left: auto;
    margin-top: 50px;
}

.arrowDiv:hover{
    cursor: pointer;
}

.arrowline{
    width: 96px;
    height: 2px;
    background-color: black;
}

.arrowlineTop{
    width: 26px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(45deg) translate(-6px, -10px);
}

.arrowlineDown{
    width: 26px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(138deg) translate(2px, -5px);
}

.sixthDiv{
    position: absolute;
    background-color: #232323;
    /* height: 100vh; */
    padding: 8% 10%;
    left: 0;
    overflow: hidden;
}


.sixthTextDiv{
    display: inline-block;
    width: 41%;
    /* line-height: 9px; */
    vertical-align: top;
    color: white;
}

.sixthTextDiv>h1{
    font-size: 44px;
    line-height: 41px;
    margin-bottom: 112px;;

}

.sixthDesc{
    margin-top: 70px;
}

.sixthDesc>h1{
    font-size: 20px;
    font-family: 'Lato';
    margin-bottom: 10px
}

.sixthDesc>p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.sixthImgDiv{
    display: inline-block;
    width: 53%;
    position: absolute;
    right: -25px;
}

.sixthGraphics{
    position: absolute;
    width: 32%;
    /* height: 20%; */
    left: 0;
    bottom: -32px;
}

.seventhDiv{
    padding: 150px 0px;
    margin-top: 704px;
}

.seventhTextDiv{
    display: inline-block;
    width: 54%;
    margin-right: 6%;
    vertical-align: top;
}

.seventhTextDiv>h1{
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 123px;
}

.dropBox{
    padding: 17px 20px;
    border-bottom: 2px solid black;
}

.dropBox:hover{
    cursor: pointer;
}

.dropBox>p{
    font-size: 12px;
    display: inline-block;

}

.plus{
    float: right;
}

.vert{
    width: 2px;
    height: 15px;
    background-color: black;
    margin: auto;
}

.horiz{
    width: 15px;
    height: 2px;
    transform: translateY(-8.8px);
    background-color: black;
}

.seventhImgDiv{
    float: right;
    width: 34%;
}

.eighthDiv{
    padding: 81px 0px;
    position: relative;
}

.eighthDiv>h1{
    margin: auto;
    text-align: center;
    width: 413px;
    line-height: 55px;
    font-size: 51px;
    margin-bottom: 63px;
}


.customerCard{
    position: relative;
    padding: 36px 30px;
    width: 32%;
    border: 2px solid black;
    border-radius: 7px;
    display: inline-block;
    margin-right: 14px;
    transition: all 0.2s;
}

.customerCard:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.eightharrowDivFirst{
    position: absolute;
    border: 2px solid black;
    padding: 24px 15px;
    border-radius: 7px;
    background-color: #eeeeee;
    transform: rotate(180deg);
    left: -31px;
    bottom: 41%;
    width: fit-content;
    margin: auto;
    height: 0px;
}

.eightharrowline{
    width: 24px;
    height: 2px;
    background-color: black;

}

.eightharrowlineTop{
    width: 13px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(45deg) translate(-4px, -6px);
}

.eightharrowlineDown{
    width: 13px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    transform: rotate(138deg) translate(-1px, -1px);
}

.customerImgDiv{
    width: 46%;
    margin: 29px auto;
}



.customerCardText>h1{
    margin: auto;
    font-size: 20px;
    width: fit-content;
    font-family: lato;
    margin-bottom: 10px;
}

.customerCardText>P{
    text-align: center;
    font-size: 11px;
    word-spacing: 5px;
    margin-bottom: 15px;
}

.eightharrowDivLast{
    position: absolute;
    border: 2px solid black;
    padding: 24px 15px;
    border-radius: 7px;
    background-color: #eeeeee;
    right: -31px;
    bottom: 41%;
    width: fit-content;
    margin: auto;
    height: 0px;
}

.eighthGraphTop{
    position: absolute;
    left: -13%;
    top: 0;
}

.eighthGraphBott{
    position: absolute;
    right: -12.5%;
}

.ninthDiv{
    padding: 12% 0;
}

.ninthTextDiv{
    display: inline-block;
    width: 37%;
}

.ninthTextDiv>h1{
    font-size: 68px;
    margin-bottom: 41px;
    line-height: 1;
}

input{
    padding: 13px 15px;
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
    /* color: black; */
    margin-bottom: 17px;
}

textarea{
    width: 100%;
    height: 217px;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 13px 15px;
    background-color: transparent;
}


input::placeholder, textarea::placeholder{
    color: black;
}

button{
    padding: 13px;
    width: 100%;
    border: none;
    background-color: #232323;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 59px;
    transition: all 0.2s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.ninthImageDiv{
    float: right;
    width: 55%;
}

.footer{
    padding: 6% 10%;
    background-color: #c4c4c4;
    position: absolute;
    width: 100%;
    left: 0;
}

.footerHead{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.footerHead>h1{
    font-size: 41px;
    line-height: 39px;
}

.footerRight{
    float: right;
    width: 75%;
}

.footerRight>h1{
    font-size: 14px;
    font-family: lato;
    margin-bottom: 24px;

}

.footerLinkDiv{
    width: 100%;
}

.footerlinks{
    display: inline-block;
    width: fit-content;
    margin-right: 16%;
}

.footerlinks>p{
    font-size: 12px;
    margin-bottom: 14px;
}

.footerlinks>p:hover{
    cursor: pointer;
    color:#000000

}

.bottText{
    font-size: 12px;
    margin-top: 54px;
    margin-left: 34px;
}

.footerGraphics{
    width: 22%;
    position: absolute;
    left: 0;
    bottom: 20px;
}